<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Student Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <!-- Bootstrap CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
    <%- include("../partials/header") %>

        <div class="container my-5 text-center contact-page">
            <h2 class="text-success">Contact Us</h2>
            <p>For any queries, please reach out at <strong>support@studentdashboard.com</strong></p>
        </div>

        <%- include("../partials/footer") %>
</body>

</html>