<link rel="stylesheet" href="style.css">
<footer class="bg-dark text-light text-center py-3 mt-5">
  <p>© 2025 Speedup Infotech – Student Dashboard</p>
</footer>

<!-- Bootstrap JS -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
